@media screen and (min-width: 2001px) {

/* Font Styles */  

button {
align-items: center;
background-color: #FFF;
border: 0px;
color: #2B2B2B;
display: inline-flex;
font-size: 20px;
font-weight: 400;
height: 30px;
padding: 20px;
text-decoration: none;
}

button.active {
align-items: center;
background-color: #FFF;
border-radius: 25px;
color: #2B2B2B;
display: inline-flex;
font-size: 20px;
font-weight: 750;
height: 30px;
padding: 20px;
text-decoration: underline;
}

a.nav-link:link {
color: #2B2B2B;
display: inline-block;
font-size: 20px;
padding: 0px 20px;
text-decoration: none;
}

a.nav-link:visited {
color: #2B2B2B;
display: inline-block;
font-size: 20px;
padding: 0px 20px;
text-decoration: none;
}

h2 {
font-size: 30px;
font-weight: 400;
line-height: 42px;
text-align: left;
}

h2 b{
font-weight: 550;
}

p {
font-size: 24px;
font-weight: 400;
line-height: 36px;
text-align: left;
}

/* Containers */  

body {
background-color: #fff;
display: flex;
flex-direction: column;
font-family: -apple-system, BlinkMacSystemFont, "Century Gothic", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-weight: 400;
}

.flex{
display: flex;
justify-content: center;
margin: auto;
}

.footer{
display: flex;
border-top: solid 1px #000;
justify-content: space-around;
margin: 50px 0px 0px 0px;
padding: 20px 0px;
}

.header{
align-items: flex-end;
border-bottom: solid 1px #000;
display: flex;
justify-content: space-between;
padding: 20px;
}
    
.intro{
align-self: center;
display: flex;
max-width: 700px;        
padding: 20px;
}

.resp-pad{
padding: 50px 200px;
margin: auto;
}

.profile{
align-content: flex-end;
display: flex;
flex-direction: row;
margin: auto;
max-width: 1800px; 
}

.profile-blurb{
align-content: flex-end;
padding: 50px;
}

.mobile-none{
display: block;
}

.tiles{
max-width: 2200px;
margin: auto;   
}      
    
.title{
display: block;
font-size: 68px;
justify-self: left;
text-align: left;
}
    
.work{
align-content: flex-end;
display: flex;
flex-direction: row;
margin: auto;
max-width: 2100px;     
}    

.wrap{
align-content: flex-start;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}

/* images */

.about{ 
max-height: 900px;
margin: auto;
width: auto;
}    

.caligraphy{
height: auto;
width: 100%;
}    
    
.case{
max-width: 700px;
height: auto;
}
    
.portrait{
max-height: 600px;
margin: 10px;
width: auto;
}
    
.specialize{
justify-content: center;
max-height: 200px;
margin: auto;
width: auto;
padding: 20px;
}

.work{
max-height: 500px;
margin: 10px;
width: auto;
}

}