@media screen and (max-device-width: 800px) {

/* Font Styles */  

button {
align-items: center;
background-color: #FFF;
border: 0px;
color: #2B2B2B;
display: inline-flex;
font-weight: 400;
height: 30px;
padding: 20px;
text-decoration: none;
}

button.active {
align-items: center;
background-color: #FFF;
border-radius: 25px;
color: #2B2B2B;
display: inline-flex;
font-weight: 750;
height: 30px;
padding: 20px;
text-decoration: underline;
}

a.nav-link:link {
color: #2B2B2B;
display: inline-block;
padding: 0px 20px;
text-decoration: none;
}

a.nav-link:visited {
color: #2B2B2B;
display: inline-block;
padding: 0px 20px;
text-decoration: none;
}

h1 {
font-weight: 500;
line-height: 15px;
text-align: left;
}    
    
h2 {
font-size: 20px;
font-weight: 400;
line-height: 26px;
text-align: center;
}

h2 b{
font-weight: 550;
}

p {
font-weight: 400;
line-height: 24px;
text-align: left;
}

/* Containers */      


body {
background-color: #fff;
display: block;
flex-direction: column;
font-family: -apple-system, BlinkMacSystemFont, "Century Gothic", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-weight: 400;
}
    
.desktop-none{
display: block;
}
    
.flex{
display: block;
margin: auto;
}

.footer{
display: block;
border-top: solid 1px #000;
justify-content: space-around;
padding: 20px 0px;
}

.header{
border-bottom: solid 1px #000;
display: block;
justify-content: center;
margin: auto;
padding: 0px;
}
    
.white{
padding: 5px;
}

.mobile-none{
display: none;
}
    
.tiles{
max-width: 1280px;
margin: auto;   
}      

.title{
display: block;
font-size: 32px;
justify-self: left;
text-align: left;
margin: 20px 0px;
}

.wrap{
display: block;
}
    
.resp-pad{
padding: 0px 10px;
}
    
/* images */

.about{
align-self: center;
height: auto;
width: 100%;
margin: auto;
}
    
.caligraphy{
height: auto;
width: 100%;
}
    
.case{
max-height: 200px;
width: auto;
}

.intro{
align-self: center;
display: flex;
max-width: 550px;        
padding: 20px;
}    
    
.portrait{
height: auto;
width: 100%;
margin: 0px;
}    
    
.specialize{
justify-content: center;
max-height: 150px;
margin: auto;
width: auto;
padding: 20px;
}
    
.work{
height: auto;
width: 100%;
margin: 0px;
}

    
}