@media screen and (min-width: 801px) and (max-width: 2000px) {

/* Font Styles */  

button {
align-items: center;
background-color: #FFF;
border: 0px;
color: #2B2B2B;
display: inline-flex;
font-weight: 400;
height: 30px;
padding: 20px;
text-decoration: none;
}

button.active {
align-items: center;
background-color: #FFF;
border-radius: 25px;
color: #2B2B2B;
display: inline-flex;
font-weight: 750;
height: 30px;
padding: 20px;
text-decoration: underline;
}

a.nav-link:link {
color: #2B2B2B;
display: inline-block;
padding: 0px 20px;
text-decoration: none;
}

a.nav-link:visited {
color: #2B2B2B;
display: inline-block;
padding: 0px 20px;
text-decoration: none;
}

h1 {
font-weight: 500;
line-height: 15px;
text-align: left;
}    
    
h2 {
font-size: 28px;
font-weight: 500;
line-height: 40px;
text-align: left;
}

h2 b{
font-weight: 550;
}

p {
font-weight: 400;
line-height: 24px;
text-align: left;
}

/* Containers */  

body {
background-color: #fff;
display: flex;
flex-direction: column;
font-family: -apple-system, BlinkMacSystemFont, "Century Gothic", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-weight: 400;
}
    
.desktop-none{
display: none;
}

.flex{
display: flex;
justify-content: center;
justify-items: center;
justify-self: center;
margin: auto;
max-width: 1200px;
}

.footer{
display: flex;
border-top: solid 1px #000;
justify-content: space-around;
margin: 0px;
padding: 25px;
}

.header{
align-items: flex-end;
border-bottom: solid 1px #000;
display: flex;
justify-content: space-between;
padding: 20px;
}
    
.intro{
align-self: center;
display: flex;
margin: auto;
max-width: 550px;        
padding: 20px;
}

.mobile-none{
display: block;
}
    
.profile{
align-content: flex-end;
display: flex;
flex-direction: row;
margin: auto;
max-width: 1100px; 
}

.profile-blurb{
align-content: flex-end;
padding: 50px;
}
    
.profile-support{
display: flex;
max-width: 1280px;
margin: auto;           
}
    
.resp-pad{
padding: 30px 0px;
}

.tiles{
max-width: 1280px;
margin: auto;   
}    
    
.title{
display: block;
font-size: 52px;
justify-self: left;
text-align: left;
}

.wrap{
align-content: flex-start;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}

/* images */

.about{
align-self: center;     
height: auto;
max-width: 475px;
}    

.caligraphy{
height: auto;
width: 100%;
}
    
.case{
max-width: 400px;
height: auto;
}
    
.portrait{
max-height: 500px;
margin: 10px;
width: auto;
}
    
.specialize{
justify-content: center;
max-height: 150px;
margin: auto;
width: auto;
padding: 20px;
}
    
.support{
max-height: 275px;
margin: 10px;
width: auto;        
}

.work{
max-height: 300px;
margin: 10px;
width: auto;
}

}